@model sistema_gestao_decursos_online.Models.CursoUsuarioModel
@{
    ViewData["Title"] = "Nova Inscrição de Usuário no Curso";
	Layout = "_Layout";
}
<!--
 * View: CursoUsuario/Create
 * Descrição: Formulário para criação de uma nova associação entre usuário e curso.
 * Data de Criação: 02/06/2025
-->
<h3>@ViewData["Title"]</h3>

<form asp-action="Create" method="post">
	@Html.Partial("_CursoUsuarioForm")
</form>

<partial name="_ValidationScriptsPartial" />
