
@model sistema_gestao_decursos_online.Models.CursoUsuarioModel

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@{
    ViewData["Title"] = "Editando Inscrição de Curso do Usuário";
    Layout = "_Layout";
}
<!--
 * View: CursoUsuario/Edit
 * Descrição: Formulário para edição de uma associação entre usuário e curso.
 * Data de Criação: 02/06/2025
-->
<h1>@ViewData["Title"]</h1>

<h4>Inscrição Usuário-Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="UsuarioCurso" method="post">
            @Html.AntiForgeryToken()
            @Html.Partial("_CursoUsuarioForm")
        </form>
    </div>
</div>
